<div class="rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]">

  <nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-center mx-auto p-4">
      <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <button data-collapse-toggle="navbar-sticky" type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-sticky" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15" />
          </svg>
        </button>
      </div>
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
        <ul
          class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a href="#Home"
              class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
              aria-current="page">Inicio</a>
          </li>
          <li>
            <a href="#Projects"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Proyectos</a>
          </li>
          <li>
            <a href="#AboutMe"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Sobre
              mí</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Inicio -->
  <div class="section scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl py-20">
    <section id="Home" class="max-w-xl pb-20">
      <div class="flex gap-4 mb-4">
        <img class="rounded-full shadow-lg size-16 object-cover " src="assets/foto2.jpg" alt="" />
        <a href="https://github.com/JazToledo" target="_blank" rel="noopener"
          class="flex items-center transition md:justify-center md:hover:scale-105">
          <div class="flex items-center ">
            <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
              <span
                class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"></span>
              <div
                class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-green-800 bg-green-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap">
                Disponible para trabajar
              </div>
            </span>
          </div>
        </a>
      </div>
      <h1 class="text-2xltext-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">Jazmin Toledo</h1>
      <p
        class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300">
        +1 a&ntilde;os de experiencia. <strong>Ingeniera en Desarrollo y Gesti&oacute;n de Software</strong> de Sonora,
        M&eacute;xico.
        Especializada en el desarrollo y gesti&oacute;n de proyectos web.
      </p>
      <nav class="flex flex-wrap gap-4 mt-8">
        <a href="mailto:aja04a@gmail.com" target="_blank" rel="noopener noreferrer" role="link"
          class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail-forward size-4" width="24"
            height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 18h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5" />
            <path d="M3 6l9 6l9 -6" />
            <path d="M15 18h6" />
            <path d="M18 15l3 3l-3 3" />
          </svg>
          Contáctame
        </a>
      </nav>
    </section>

    <!-- Proyectos -->
    <section id="Projects" class="border-t pb-[30px] text-gray-700 dark:text-gray-300 md:flex-row">
      <h3 class="text-3xl my-6 font-bold text-gray-800 dark:text-gray-100">
        Proyectos
      </h3>
      <!-- Cards -->
      <app-project-card></app-project-card>
      <!-- Cards -->
    </section>

    <!-- Sobre mí -->
    <section id="AboutMe"
      class="flex flex-col items-center justify-center gap-8 border-t pt-5 border-gray-200 text-black dark:text-gray-300 md:flex-row">
      <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
        <p>
          Me llamo Pamela Jazmin pero mis amigos me llaman Jazmin. Empecé en la
          programación en el 2021. Actualmente estoy
          <strong>liderando equipos de desarrollo</strong>.
        </p>

        <p>
          Algunos de mis trabajos como desarrollador incluyen mi
          <strong>
            colaboración en el desarrollo de un sistema de inventarios</strong>. Además del desarrollo de
          proyectos con un gran impacto social.
        </p>
      </div>

      <img width="200" height="200" src="assets/foto1.jpg" alt=""
        class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20" />
    </section>
  </div>
</div>